<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Layers.plist
   Layers

   Created by David Hodge on 8/15/16.
   Copyright (c) 2016 Layers. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>application-identifier</key>
        <string>$(AppIdentifierPrefix)$(CFBundleIdentifier)</string>
        <key>beta-reports-active</key>
        <true/>
    </dict>
</plist>